<div class="col-md-6">
  <%= render "/users/shared/opened_rfps" %>
  <%= render "/users/shared/closed_rfps" %>
	<%= link_to raw('<button type="button" id="create-rfp" class="btn btn-default">Create RFP</button>'), new_rfp_path %>
</div>

<div class="col-md-6">
  <%= render "/users/shared/opened_auctions" %>	
</div>	

